@import '~@fortawesome/fontawesome-free/css/all.css';
@import './colors.scss';

.p-button {
  margin-right: 1em !important;
}

.p-component,
.p-inputtext {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

body .p-component {
  font: inherit;
}

body .p-disabled.p-dropdown,
body .p-disabled .p-inputtext,
body .p-inputtext:disabled {
  opacity: 1;
  cursor: not-allowed;
  background-color: #eeeeee;
}

.row-spacer .row {
  margin-bottom: 1em;
}

.w-100 {
  width: 100%;
}

.p-dialog-title {
  font-size: 28px;
}

body .p-highlight {
  background-color: $be-orange !important;
}

body a {
  color: $be-orange;
}
body a:visited {
  color: $be-orange-dark;
}

body .p-button {
  border-radius: 0;
  color: $be-white;
  background: $be-orange;
  border: transparent;
}
body .p-button:enabled:hover {
  color: $be-white;
  background-color: $be-orange-dark;
  border-color: #874101;
}

body .p-inputtext {
  font-size: 16px;
  color: #333333;
  background: $be-inputs-background;
  border: 1px solid transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 0;
  &:enabled:hover {
    border-color: #c1d6d5;
  }
  padding: 5px 7px;
}
body .p-dropdown {
  background: $be-inputs-background;
  border: 1px solid $be-inputs-background;
  border-radius: 0;

  > .p-dropdown-trigger {
    background-color: $be-inputs-background;
  }
  &:not(.p-disabled):hover {
    border-color: #c1d6d5;
  }
}

// Show all items in select
body .p-dropdown-items-wrapper {
  max-height: 340px !important;
}
