@import '~@fortawesome/fontawesome-free/css/all.css';

.p-button {
  margin-right: 1em !important;
}

.p-component,
.p-inputtext {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

body .p-component {
  font: inherit;
}

body .p-disabled.p-dropdown,
body .p-disabled .p-inputtext,
body .p-inputtext:disabled {
  opacity: 1;
  cursor: not-allowed;
  background-color: #eeeeee;
}

.row-spacer .row {
  margin-bottom: 1em;
}

.w-100 {
  width: 100%;
}

.p-dialog-title {
  font-size: 28px;
}

body .p-highlight {
  background-color: transparent !important;
}

body a {
  color: #dd6b02;
}
body a:visited {
  color: #ab5302;
}

body .p-button {
  border-radius: 0;
  color: #fff;
  background: #dd6b02;
  border: transparent;
}
body .p-button:enabled:hover {
  color: #fff;
  background-color: #aa5302;
  border-color: #874101;
}
