$be-white: #ffffff !default;
$be-orange: #dd6b02 !default;
$be-green: #6abbb7 !default;
$be-light-green: #d2ebea !default;
$be-dark-green: #0a6a76 !default;
$be-green-active: #004e5c !default;
$be-black: #000000 !default;

$be-inputs-background: #d3ebea !default;
$be-orange-dark: #aa5302 !default;
